#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.file-upload {
    display: none;
}

.file-upload-label {
    border: 2px solid #4294b6;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    width: 50%;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

#content-display {
    border: 2px solid #2cb663;
    height: 100px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card {
    margin: 5px;
    width: auto;
    
}

#tables-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.vector-table {
    width: auto;
    margin-right: 10px;
    
}

#vector-table:last-child {
    margin-right: 0;
    
}

.vector-table th,
.vector-table td {
    border: 2px solid #2cb663;
    padding: 8px;
    text-align: center;
    
}

.vector-table th {
    border: 2px solid #4294b6;
    background-color:#ffff99;
    
}
