
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.file-upload {
    display: none;
    
}

.file-upload-label {
    border: 2px dashed #4294b6;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 50%;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transition: all 0.3s;
}

.file-upload-label p {
    background-color: #f2f2f2;
    margin: 0; 
    font-weight: bold;
    font-size: 30px;
}

.file-upload-label:hover {
    border: 2px solid #4294b6;
    background-color: #ffff99;
    color: #4294b6;
}

.file-upload-label:hover p {
    background-color: transparent;
}

#content-display {
    border: 2px solid #2cb663;
    height: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px; 
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card {
    margin: 5px;
    width: auto;
    
}

#tables-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-weight: bold;
    
}

.vector-table {
    width: auto;
    margin-right: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#vector-table:last-child {
    margin-right: 0;
    
}

.vector-table th,
.vector-table td {
    border: 2px solid #2cb663;
    padding: 8px;
    text-align: center;

}

.vector-table th {
    border: 2px solid #4294b6;
    background-color:#ffff99;
}

#error-message {
    display: none;
    color: red;
    font-size: 50px;
    padding: 10px;
    background-color: #fff; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}